<style>
  .app-config-view {
    font-size: 13px;
    height: 100%;
  }

  .app-config-view .el-tabs__item {
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    position: relative;
  }

  .app-config-view .el-tabs--bottom .el-tabs--left .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--bottom .el-tabs--right .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--bottom.el-tabs--border-card .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--bottom.el-tabs--card .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--top .el-tabs--left .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--top .el-tabs--right .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2),
  .app-config-view .el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2) {
    padding-left: 10px;
  }

  .app-config-view .el-tabs--bottom .el-tabs--left .el-tabs__item:last-child,
  .app-config-view .el-tabs--bottom .el-tabs--right .el-tabs__item:last-child,
  .app-config-view .el-tabs--bottom.el-tabs--border-card .el-tabs__item:last-child,
  .app-config-view .el-tabs--bottom.el-tabs--card .el-tabs__item:last-child,
  .app-config-view .el-tabs--top .el-tabs--left .el-tabs__item:last-child,
  .app-config-view .el-tabs--top .el-tabs--right .el-tabs__item:last-child,
  .app-config-view .el-tabs--top.el-tabs--border-card .el-tabs__item:last-child,
  .app-config-view .el-tabs--top.el-tabs--card .el-tabs__item:last-child {
    padding-right: 10px;
  }


  .app-config-view .el-tabs--border-card {
    height: calc(100% - 28px);
    box-shadow: none;
  }

  .app-config-view .el-tabs--border-card>.el-tabs__content {
    padding: 5px;
    height: calc(100% - 28px);
    overflow: auto;
  }

  .app-config-view .el-form-item {
    margin-bottom: 10px;
  }

  .app-config-view .el-form-item__label {
    line-height: 30px;
    font-size: 12px;
  }

  .app-config-view .el-form-item__content {
    line-height: 30px;
  }
</style>

<div class="app-config-view">
  <div class="app-section-title">
    组件配置
  </div>
  <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
    <el-tab-pane label="配置" name="config">

      <el-form :model="form" label-width="90px">
        <el-form-item :label="item.label" v-for="item in setting.config">

          <!-- 文本框 -->
          <el-input v-if="item.type === 'input'" v-model="item.value" :name="item.name" size="mini"></el-input>

          <!-- 下拉框 -->
          <el-select v-if="item.type === 'select'" v-model="item.value" :name="item.name" size="mini">
            <el-option :label="option" :value="option" v-for="option in item.options"></el-option>
          </el-select>

          <!-- 单选按钮 -->
          <el-radio-group v-if="item.type === 'radio'" v-model="item.value" :name="item.name" size="mini">
            <el-radio :label="option" v-for="option in item.options"></el-radio>
          </el-radio-group>

          <!-- 多选按钮 -->
          <el-checkbox-group v-if="item.type === 'checkbox'" v-model="item.value" :name="item.name" size="mini">
            <el-checkbox :label="option" :name="option" v-for="option in item.options"></el-checkbox>
          </el-checkbox-group>

          <!-- switch -->
          <el-switch v-if="item.type === 'switch'" v-model="item.value"></el-switch>

        </el-form-item>

    </el-tab-pane>
    <el-tab-pane label="样式" name="style">

      样式

    </el-tab-pane>
    <el-tab-pane label="动画" name="animate">


      动画


    </el-tab-pane>
    <el-tab-pane label="监听" name="event">


      监听


    </el-tab-pane>

    <el-tab-pane label="接口" name="api">


      接口


    </el-tab-pane>
  </el-tabs>
</div>

<script>

  app.structure.config = new Vue({
    el: '.app-config-view',
    data: {
      activeName: 'config',
      // 等于组件模板的setting
      setting: {
        config: {},
        style: {},
        animate: {},
        event: {},
        api: {},
      },
      form: {}
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      }
    }
  });

</script>