/* 菜单栏 */
.app-nav {
  height: 28px;
  line-height: 28px;
  background: #171414;
  color: #fff;
  position: relative;
  z-index: 2;
}
/* 工具栏 */
.app-tool {
  height: 30px;
  background: #f1f1f1;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
/* 内容区 */
.app-content {
  height: calc(100% - 82px);
  position: relative;
}
/* 组件边栏 */
.app-component {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background: #171414;
  z-index: 2;
}
/* 工作区 */
.app-workspace {
  position: relative;
  margin-left: 50px;
  margin-right: 300px;
  background: darkgray;
  height: 100%;
  z-index: 1;
}
/* 配置边栏 */
.app-config {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background: #f1f1f1;
  z-index: 1;
}
/* 状态栏 */
.app-status {
  height: 24px;
  line-height: 24px;
  background: #e8e8e8;
  color: #5a5a5a;
}
/* 各个视图的标题 */
.app-section-title {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  background: #171414;
  color: #fff;
  padding-left: 10px;
}